@model IEnumerable<FPTBookStore.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<partial name="Header" />

<body>
    <partial name="Navbar" />

    <div class="banner-agile" style="display:flex; flex-direction:column; justify-content:center; border-radius:5px;">
        <h1 style="
            font-size:180px;
            text-align:center;
            vertical-align:bottom;
            color:whitesmoke;
            background-color: #f3ec78;
            background-image: linear-gradient(45deg, #aee34a, #69fcff);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            font-weight: 700">
            FPTBookstore
        </h1>
        <p style="font-size:40px;padding-left: 50px; color:White; font-weight:bold">Where you get your books</p>
    </div>
    <div class="top-products">
        <h3>Featured books</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <a href="Single/@Html.DisplayFor(modelItem => item.BookId)">
                        <div class="card h-100 ">
                            <!-- Product image-->
                            <img class="card-img-top" src=" @Html.DisplayFor(modelItem => item.Image)" style="padding: 5px; border-radius: 10px;" height="300px" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.BookTitle)</h5>
                                    <a href="AuthorSingle/@Html.DisplayFor(modelItem => item.AuthorId)">
                                        @Html.DisplayFor(modelItem => item.Author.AuthorName)
                                    </a>
                                    -
                                    @Html.DisplayFor(modelItem => item.Category.CategoryName)

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-success btn-block" href="~/Cart/AddItem?bookId=@item.BookId">
                                        $@Html.DisplayFor(modelItem => item.Price)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>

    <div class="footer">
        <div class="container">
            
        </div>
    </div>
    <!-- cart-js -->
    <script src="~/js/minicart.js"></script>
    <script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
</body>
</html>
